* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Avenir Next", "Yu Gothic", YuGothic,
    "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo,
    sans-serif;
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body,
div#__next {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: block;
}
